.origin {
    background-color: bisque;
    height: 100px;
}

.origin-title {
    background-color: aqua;
    height: 50px;
}

.heading {
    text-align: center;
    justify-content: center;
    align-self: center;
    flex: 1;
}

.header {
    background-color: coral;
    height: 50px;
}

.menu {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.menu li {
    flex: 1;
    border: 1px solid #000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    list-style: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    background-color: dimgrey;
    height: 100%;
}

.image {
    height: 50%;
    width: 50%;
    align: center;
}

.footer {
    background-color: coral;
    height: 50px;
    text-align: center;
    border: 50px;
}