.baba {
    background-color: green;
}
.baba-title {
    background-color: orange;
    width: 100%;
    display: flex;
}
.shraddha {
    flex: 1;
    align-self: center;
    text-align: center;
}
.logo {
    flex: 1;
}
.saboori {
    flex: 1;
    align-self: center;
    text-align: center;
}